section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#notification {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  z-index: 9999;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s opacity, 0.3s transform;

  &.shown {
    transform: scale(1);
    opacity: 1;
  }
}

#landing {
  display: flex;
  flex-direction: column;

  > h1 {
    flex: 0 0 auto;
    padding: 16px;
    margin: 0;
    font-size: 4rem;
    text-align: center;
  }

  > #menu-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
      padding: 16px;
      margin: 0;
      font-size: 1.5rem;
      text-align: center;
      flex: 0 0 auto;
    }

    > nav {
      flex: 1 1 auto;
      overflow: auto;

      > ul {
        list-style: none;
        padding: 32px 16px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        a,
        button {
          text-decoration: none;
          color: #000;
          background: rgba(255, 255, 255, 0.6);
          display: inline-block;
          text-align: center;
          width: 256px;
          font-size: 1.25rem;
          padding: 16px;
          border: 1px solid #000;
          border-radius: 8px 16px;
          transition: 0.3s transform;

          &:hover,
          &:focus {
            transform: scale(1.025);
          }

          &:active {
            transform: scale(0.975);
          }
        }
      }
    }

    > #start {
      background: #6d6;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 50%;
      box-shadow: 0 1px 4px 0 #000;
      height: 100px;
      width: 100px;
      transition: 0.3s transform, 0.3s box-shadow;
      font-size: 1.5rem;
      text-transform: uppercase;

      &:active,
      &:focus {
        box-shadow: none;
      }
    }
  }
}

#game {
  display: grid;
  grid-template-rows: 50% 50%;
  place-items: center;

  > #visualizer {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  > #microphone {
    width: 100%;
    height: 100%;
    align-self: end;
    position: relative;

    > img {
      width: 100%;
      height: 75%;
      position: absolute;
      bottom: -8px;
      margin: auto;
    }
  }
}
