.rawData {
  > label {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0 0.25rem;

    &:first-child {
      margin-top: 0;
    }
  }

  > pre {
    font-family: monospace;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0;
    overflow: auto;
  }

  > p {
    font-size: 0.8rem;
    margin: 0 0 1rem;
    font-style: italic;
  }
}
